<div class="container mt-4">
  <div class="row">
    @for (recipe of recipes(); track $index) {
    <div class="col-md-3 mb-4 card-container">
      <div class="card h-100 test-center">
        <div class="card-img-top-container">
          <img
            [src]="recipe.picture"
            [routerLink]="['/recipes/', recipe.id]"
            [queryParams]="{ id: recipe.id }"
            class="card-img-top"
            alt="{{ recipe.title }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ recipe.title }}</h5>

          <h6 class="text-center">Ingredients:</h6>
          <ul class="list-unstyled">
            @for(ingredient of recipe.ingredients; track $index){
            <li class="text-center">
              {{ ingredient }}
            </li>
            }
          </ul>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="text-muted">Likes: {{ recipe.likes }}</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div>
              <button
                class="btn btn-outline-primary btn-sm me-2"
                (click)="checkRecipeOwnership(recipe)"
              >
                Change
              </button>

              <app-vote
                [recipe]="recipe"
                (voteHappened)="listRecipes().subscribe()"
              ></app-vote>
            </div>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="showConfirmModal(recipe)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<app-modal
  #modalWindow
  [modalId]="modalConfig.modalId"
  [title]="modalConfig.title"
  [message]="modalConfig.message"
  [showCloseButton]="modalConfig.showCloseButton"
  [confirmButtonText]="modalConfig.confirmButtonText"
  (confirm)="onModalConfirm()"
></app-modal>
