<div class="modal fade" tabindex="-1" role="dialog" [id]="modalId()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title() }}</h5>
        @if(showCloseButton()){
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        }
      </div>
      <div class="modal-body">
        <p>{{ message() }}</p>
      </div>
      <div class="modal-footer">
        @if(showCloseButton()){
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ closeButtonText() }}
        </button>
        }
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onConfirm()"
        >
          {{ confirmButtonText() }}
        </button>
      </div>
    </div>
  </div>
</div>
