<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">New Recipe</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="newRecipe" (ngSubmit)="save()">
            <div class="form-group">
              <label for="title">Name</label>
              <input
                type="text"
                id="title"
                class="form-control"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    newRecipe.get('title')?.invalid &&
                    newRecipe.get('title')?.touched,
                  'is-valid':
                    newRecipe.get('title')?.valid &&
                    newRecipe.get('title')?.touched
                }"
              />
              @if(newRecipe.controls.title.errors?.['required']){
              <div class="invalid-feedback">Name is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                class="form-control"
                formControlName="description"
                [ngClass]="{
                  'is-invalid':
                    newRecipe.get('description')?.invalid &&
                    newRecipe.get('description')?.touched,
                  'is-valid':
                    newRecipe.get('description')?.valid &&
                    newRecipe.get('description')?.touched
                }"
              ></textarea>
              @if(newRecipe.controls.title.errors?.['required']){
              <div class="invalid-feedback">Description is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="picture">Picture</label>
              <div class="drop-zone">
                <input
                  #fileInput
                  type="file"
                  id="picture"
                  class="form-control"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                  [ngClass]="{
                    'is-invalid':
                      !pictureOfRecipe && newRecipe.get('picture')?.touched,
                    'is-valid':
                      pictureOfRecipe && newRecipe.get('picture')?.touched
                  }"
                  required
                />
                <p>
                  Drag & drop an image here, paste from clipboard, or click to
                  select
                </p>
                @if(pictureOfRecipe){
                <div class="mt-2">
                  <img
                    [src]="previewUrl"
                    alt="Selected image"
                    style="max-width: 200px"
                  />
                  <div class="mt-2">
                    Selected file: {{ pictureOfRecipe.name }}
                  </div>
                </div>
                }
              </div>
              @if(newRecipe.controls.picture.errors?.['required']){
              <div class="invalid-feedback">Picture is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="ingredient">Ingredient</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="ingredients"
                  formControlName="ingredients"
                  class="form-control"
                  [formControl]="certainIngredient"
                  [ngClass]="{
                    'is-invalid':
                      certainIngredient.invalid && certainIngredient.touched,
                    'is-valid':
                      certainIngredient.valid && certainIngredient.touched
                  }"
                />
                @if(newRecipe.controls.ingredients.errors?.['required']){
                <div class="invalid-feedback">Picture is required.</div>
                }
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="addIngredient()"
                >
                  Add
                </button>
              </div>
              <ul class="list-group">
                <li
                  *ngFor="let ing of ingredients"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  {{ ing }}
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeIngredient(ing)"
                  >
                    &times;
                  </button>
                </li>
              </ul>
            </div>
            <div class="d-flex justify-content-center pt-4">
              <button
                type="submit"
                class="btn btn-primary me-2"
                [disabled]="newRecipe.invalid || isLoading()"
              >
                Save
              </button>
              <button
                class="btn btn-outline-primary"
                [routerLink]="['/recipes']"
              >
                Cancel
              </button>
            </div>
            @if(isLoading()){

            <app-loadingCircle />
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
