<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">New Recipe</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="newRecipeForm" (ngSubmit)="save()">
            <div class="form-group">
              <label for="title">Name</label>
              <input
                type="text"
                id="title"
                class="form-control"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    newRecipeForm.get('title')?.invalid &&
                    newRecipeForm.get('title')?.touched,
                  'is-valid':
                    newRecipeForm.get('title')?.valid &&
                    newRecipeForm.get('title')?.touched
                }"
              />
              @if(newRecipeForm.controls.title.errors?.['required']){
              <div class="invalid-feedback">Title is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                class="form-control"
                formControlName="description"
                [ngClass]="{
                  'is-invalid':
                    newRecipeForm.get('description')?.invalid &&
                    newRecipeForm.get('description')?.touched,
                  'is-valid':
                    newRecipeForm.get('description')?.valid &&
                    newRecipeForm.get('description')?.touched
                }"
              ></textarea>
              @if(newRecipeForm.controls.title.errors?.['required']){
              <div class="invalid-feedback">Description is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="picture">Picture</label>
              <input
                type="file"
                id="picture"
                class="form-control"
                formControlName="picture"
                (change)="onFileSelected($event)"
                [ngClass]="{
                  'is-invalid':
                    !selectedFile && newRecipeForm.get('picture')?.touched,
                  'is-valid':
                    selectedFile && newRecipeForm.get('picture')?.touched
                }"
                required
              />
              @if(newRecipeForm.controls.picture.errors?.['required']){
              <div class="invalid-feedback">Picture is required.</div>
              }
            </div>
            <div class="form-group">
              <label for="ingredient">Ingredient</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="ingredients"
                  formControlName="ingredients"
                  class="form-control"
                  [formControl]="certainIngredient"
                  [ngClass]="{
                    'is-invalid':
                      certainIngredient.invalid && certainIngredient.touched,
                    'is-valid':
                      certainIngredient.valid && certainIngredient.touched
                  }"
                />
                @if(newRecipeForm.controls.ingredients.errors?.['required']){
                <div class="invalid-feedback">Picture is required.</div>
                }
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="addIngredient()"
                >
                  Add
                </button>
              </div>
              <ul class="list-group">
                <li
                  *ngFor="let ing of ingredients"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  {{ ing }}
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeIngredient(ing)"
                  >
                    &times;
                  </button>
                </li>
              </ul>
            </div>
            <div class="d-flex justify-content-center pt-4">
              <button
                type="submit"
                class="btn btn-primary me-2"
                [disabled]="newRecipeForm.invalid || isLoading()"
              >
                Save
              </button>
              <button
                class="btn btn-outline-primary"
                [routerLink]="['/recipes']"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
